@import '../share.scss';

.hero-list {
  .add-form {
    button {
      font-size: 12px;
      height: auto;
      margin-left: 5px;
      padding: 4px;
    }
  }

  .hero {
    align-items: center;
    border-radius: 4px;
    display: flex;
    margin-top: 10px;
    width: 224px;

    .delete-btn {
      background-color: $button-bg-color;
      border-radius: 4px;
      color: $button-color;
      cursor: pointer;
      float: right;
      font-size: 18px;
      height: auto;
      margin-right: 5px;
      margin-top: 6px;
      padding: 2px 7px;
      z-index: 2;
    }

    .hero-id {
      background-color: $hover-color;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: white;
      display: inline-block;
      padding: 10px;
    }

    .hero-name {
      background-color: $name-bg-color;
      color: $name-color;
      display: inline-block;
      flex-grow: 1;
      height: 38px;
      line-height: 38px;
      padding-left: 10px;
    }
  }

  .hero:hover {
    left: 2px;
    position: relative;

    .hero-name {
      background-color: $hover-bg-color;
      color: $hover-color;
    }
  }
}
