@import '../share.scss';

.dashboard {
  text-align: center;

  .hero {
    background: $hover-color;
    color: $name-bg-color;
    display: inline-block;
    margin: 10px;
    padding: 20px;
  }

  .hero:hover {
    background: $name-bg-color;
    color: $hover-color;
  }
}
