.App {
  font-family: sans-serif; }

.App button {
  background-color: #EEE;
  border: 0;
  border-radius: 4px;
  color: #888;
  font-size: 16px;
  height: 38px;
  margin-right: 10px; }

.App button:hover {
  background-color: #DDD;
  color: #607D8B; }
